<h2>LISTA DE ALUMNOS</h2>

<table mat-table [dataSource]="dataSource">
    <!-- Columna de nombre -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- Columna de apellido -->
    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.apellido }}</td>
    </ng-container>

    <!-- Columna de curso -->
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef>Curso</th>
        <td mat-cell *matCellDef="let element">{{ element.curso }}</td>
    </ng-container>

    <!-- Columna de acciones -->
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button color="primary" (click)="abrirModal(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
</table>
<br>
<div class="agregar" >
  <button mat-flat-button color="primary" (click)="agregarAlumno()">Agregar</button>
</div>
<hr>

<div class="container">
  <div class="row">
      <div class="col-md-2" *ngFor="let alumno of alumnos$ | async">
          <mat-card>
              <mat-card-header>
                  <mat-card-title>{{ alumno.nombre}}</mat-card-title>
              </mat-card-header>

              <mat-card-content>
                 <p>{{alumno.nombre}}</p>
                  <p>{{alumno.apellido}}</p>
                  <p>{{alumno.curso}}</p>
              </mat-card-content>
              <mat-card-actions >
                <a ><mat-icon class="acciones"  color="primary">edit</mat-icon></a>
                <a  ><mat-icon class="acciones" color="warn">delete</mat-icon></a>
              </mat-card-actions>
          </mat-card>
      </div>
  </div>
</div>

