.btn-outline-success{
  color: #673ab7;
  border-color: #673ab7;
  background-color:#fff;
}

.btn-outline-success:hover{
  background-color: #673ab7;
  color:#fff;
}

h1{
  color: #b19cd9;
  padding-top: 20px;
}
