form{
  margin: 50px;

}

h3{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}


.valido{
  color: rgb(0, 95, 0);
}

.invalido{
  color: rgb(127, 0, 0);
}

.registrate{
  margin-left: 50px;
}
