<h2 class="title">¿Por qué practicar yoga?</h2>
<section>
  <article>
    <h3>Sentite saludable</h3>
    <p>El Yoga fortalece tu cuerpo y favorece un estado de tranquilidad y calma para la mente.</p>

    <h3>Mejorá tu respiración</h3>
    <p>Renová tu energía con la respiración profunda Yogui.</p>
  </article>

  <article>
  <img src="/assets/images.png"  alt="image">
  </article>

  <article>
    <h3>Mejorá tu postura</h3>
    <p>La práctica de Yoga fortalece, da flexibilidad y equilibrio físico, mental y emocional.</p>

    <h3>Encontrá tu equilibrio</h3>
    <p>Respirá profundo y entregate al disfrute de la práctica de Yoga.</p>
  </article>

</section>

